<h1 mat-dialog-title>Add user</h1>
<div mat-dialog-content>
  <mat-form-field style="width: 100%">
    <mat-label>cin</mat-label>
    <input matInput cdkFocusInitial required [(ngModel)]="user.cin">
  </mat-form-field>
  <mat-form-field style="width: 100%">
    <mat-label>user name</mat-label>
    <input matInput required [(ngModel)]="user.username">
  </mat-form-field>
  <mat-form-field style="width: 100%">
    <mat-label>email</mat-label>
    <input matInput style="width: 100%" [(ngModel)]="user.email">
  </mat-form-field>
  <mat-form-field style="width: 100%">
    <input matInput [matDatepicker]="picker" placeholder="Birthdate" [(ngModel)]="user.birthdate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field style="width: 100%">
    <mat-label>leave balance</mat-label>
    <input matInput type="number" style="width: 100%" [(ngModel)]="user.leaveBalance">
  </mat-form-field>
  <mat-form-field style="width: 100%">
    <mat-label>address</mat-label>
    <input matInput style="width: 100%" [(ngModel)]="user.address">
  </mat-form-field>
  <mat-form-field style="width: 100%">
    <mat-label>Salaire</mat-label>
    <input matInput style="width: 100%" [(ngModel)]="user.salary">
  </mat-form-field>
  <mat-form-field style="width: 100%">
    <mat-label>Password</mat-label>
    <input matInput type="password" style="width: 100%" [(ngModel)]="user.password">
  </mat-form-field>
</div>
<div mat-dialog-actions align="end">
  <button mat-button >No Thanks</button>
  <button mat-flat-button   (click)="add()">Ok</button>
</div>
