<mat-form-field>
  <input matInput [(ngModel)]="search" placeholder="Search by name">
</mat-form-field>
<table class="table" >

  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Add</th>
  </tr>
  </thead>


  <tr *ngFor="let user of usersf">
    <ng-container *ngIf="user.username.toUpperCase().indexOf(search.toUpperCase()) != -1">
      <td>
        {{user.username}}
      </td>

      <td>
        <button mat-button color="primary" (click)="addUserProject(user.id)">add me!</button>
      </td>
    </ng-container>
  </tr>

</table>
