
<mat-card style="margin: 50px; height: 70%">
<mat-card-header style="display: flex; justify-content: space-between; ">
  <mat-card-title>
    Projects
  </mat-card-title>
  <button mat-fab color="primary" (click)="openDialog()"> <mat-icon>add</mat-icon> </button>
</mat-card-header>
  <hr>
  <mat-card-content  style="display: flex; flex-wrap: wrap">

    <div class="col-4" style="padding: 10px" *ngFor="let project of projects">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{project.name}}</mat-card-title>
          <button mat-button (click)="openDialogRemove(project.id)">supprimer</button>
          <button mat-button (click)="openDialogModify(project.id)">modify</button>
        </mat-card-header>
        <mat-card-content>
          {{project.description}}
        </mat-card-content>
      </mat-card>
    </div>


  </mat-card-content>
</mat-card>
