
<mat-card style="margin: 50px; height: 70%">
<mat-card-header style="display: flex; justify-content: space-between; ">
  <mat-card-title>
    Projects
  </mat-card-title>
  <button mat-fab color="primary" (click)="openDialog()"> <mat-icon>add</mat-icon> </button>
</mat-card-header>
  <hr>
  <mat-card-content  style="display: flex; flex-wrap: wrap">

    <div class="col-4" style="padding: 10px" *ngFor="let project of projects">
      <mat-card>
        <mat-card-header style="width: 100%">
          <mat-card-title style="text-align: center; width: 100%">{{project.name}}</mat-card-title>

        </mat-card-header>


        <mat-card-actions align="end" style="padding-right: 15px; display: flex; justify-content: space-between">
          <span>

          <button mat-icon-button (click)="openDialogModify(project.id)"><mat-icon color="primary">edit</mat-icon></button>
          <button mat-icon-button (click)="openDialogRemove(project.id)"><mat-icon color="warn">delete</mat-icon></button>

          </span>
          <button mat-flat-button color="primary" [routerLink]="['scrumboard', project.id]"> View <mat-icon>visibility</mat-icon></button>
        </mat-card-actions>
      </mat-card>
    </div>


  </mat-card-content>
</mat-card>
