
<mat-card style="margin: 50px; height: 70%">
<mat-card-header >
  <mat-card-title>
    Projects
  </mat-card-title>
</mat-card-header>
  <hr>
  <mat-card-content  style="display: flex; flex-wrap: wrap">

    <div class="col-4" style="padding: 10px" *ngFor="let project of projects">
      <mat-card>
        <mat-card-header style="width: 100%">
          <mat-card-title style="text-align: center; width: 100%">{{project.name}}</mat-card-title>

        </mat-card-header>


        <mat-card-actions align="end" style="padding-right: 15px; display: flex; justify-content: space-between">
          <span>

          <button mat-icon-button matTooltip="edit  {{project.name}}" (click)="openDialogModify(project.id)"><mat-icon color="primary">edit</mat-icon></button>
          <button mat-icon-button matTooltip="remove {{project.name}}" (click)="openDialogRemove(project.id)"><mat-icon color="warn">delete</mat-icon></button>

          </span>
          <button mat-flat-button matTooltip="open scrum board of  {{project.name}}" color="primary" [routerLink]="['scrumboard', project.id]"> View <mat-icon>visibility</mat-icon></button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-4" *ngIf="isAdmin">
      <div>
        <mat-card matTooltip="add project" class="text-center" style="padding: 33px 0 33px 0;" (click)="openDialog()">
          <button mat-fab color="primary">
            <mat-icon style="color: white; font-size: 24px;">add</mat-icon>
          </button>
        </mat-card>
      </div>
    </div>



  </mat-card-content>
</mat-card>
