<div class="login">

  <div style="height:100%; display: flex; flex-direction: column; justify-content: space-around">
    <mat-card class="cardlogin"  @flyInOut [@shakeit]="this.states['state1']" >
      <mat-card-title >Login</mat-card-title>
      <form>
        <mat-error style="visibility: hidden" #err>
          <span>
            Check usernmame or password !
          </span>

        </mat-error>
      <mat-card-content >
        <mat-form-field appearance="legacy" >
          <mat-label>Username</mat-label>
          <input matInput placeholder="Enter your username.."  [(ngModel)]="login.username"  name="username" required>
          <mat-icon matSuffix color="primary">account_circle</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="legacy" >
            <mat-label>Password</mat-label>
            <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text' " [(ngModel)]="login.password" name="password">
            <mat-icon matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" color="primary">
              {{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>

        </mat-form-field>
      </mat-card-content>
      <mat-card-actions align="end" style="padding-right: 15px">
        <button mat-flat-button color="primary" (click)="signin()"> Sign in <mat-icon>keyboard_arrow_right</mat-icon></button>
      </mat-card-actions>
      </form>
    </mat-card>
  </div>

</div>
