<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="logoContainer justify-content-center" style="padding: 15px">
      <div id="logo" style="padding-top: 20px">
        <img src="/assets/logoWeCode.png" style="width: 100px">
      </div>
    </mat-toolbar>
    <mat-nav-list style="padding-top: 30px">
      <a mat-list-item routerLink="/dashboard" class="list-item d-flex justify-content-center active" >

        <div class="itemListContainer" >
          <div class="icon">
            <i class="material-icons d-flex justify-content-center">
              explore
            </i>
          </div>
          <div class="iconName">
            Projects
          </div>
        </div>

      </a>
      <a mat-list-item  class="list-item d-flex justify-content-center" style="margin-top:15px " routerLink="/dashboard/users">

        <div class="itemListContainer ">
          <div class="icon d-flex justify-content-center">
            <i class="material-icons ">
              supervised_user_circle
            </i>
          </div>
          <div class="iconName">
            Employers
          </div>
        </div>

      </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" style="display: flex; justify-content: space-between">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        matTooltip="menu open/close"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div>


        <button mat-button [matMenuTriggerFor]="menu"> <mat-icon>person</mat-icon> <span>{{username}}</span></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
      </div>
    </mat-toolbar>
   <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
