<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="logoContainer justify-content-center" style="padding: 15px">
      <div id="logo" style="padding-top: 20px">
        <img src="/assets/logoWeCode.png" style="width: 100px">
      </div>
    </mat-toolbar>
    <mat-nav-list >
      <a mat-list-item onclick="document.getElementsByClassName('active')[0].classList.remove('active');this.classList.add('active')" routerLink="/dashboard" class="list-item d-flex justify-content-center active"  >

        <div class="itemListContainer" >
          <div class="icon">
            <i class="material-icons d-flex justify-content-center">
              explore
            </i>
          </div>
          <div class="iconName">
            Projects
          </div>
        </div>

      </a>
      <a *ngIf="isAdmin" mat-list-item  onclick="document.getElementsByClassName('active')[0].classList.remove('active');this.classList.add('active')" class="list-item d-flex justify-content-center" style="margin-top:15px " routerLink="/dashboard/users">

        <div class="itemListContainer ">
          <div class="icon d-flex justify-content-center">
            <i class="material-icons ">
              supervised_user_circle
            </i>
          </div>
          <div class="iconName">
            Collaborators
          </div>
        </div>

      </a>
      <a mat-list-item  onclick="document.getElementsByClassName('active')[0].classList.remove('active');this.classList.add('active')"  class="list-item d-flex justify-content-center" style="margin-top:15px " routerLink="/dashboard/authorizations">

        <div class="itemListContainer ">
          <div class="icon d-flex justify-content-center">
            <i class="material-icons ">
              supervised_user_circle
            </i>
          </div>
          <div class="iconName">
            Authorizations
          </div>
        </div>

      </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" style="display: flex; justify-content: space-between">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        matTooltip="menu open/close"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div>

        <button mat-icon-button [matMenuTriggerFor]="notif" ><mat-icon [matBadge]="notifNumber" matBadgeColor="accent" matBadgePosition="above before" matBadgeSize="medium">notifications</mat-icon></button>
        <button matTooltip="click to drop down " mat-button [matMenuTriggerFor]="menu"> <mat-icon style="font-size: 20px">person</mat-icon> <span>{{username}}</span> <mat-icon>arrow_drop_down</mat-icon></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
        <mat-menu #notif="matMenu">
          <div   *ngFor="let n of notifications.reverse()" [routerLink]="n.link"  style="display: flex; flex-direction: column; border-bottom: black 1px solid" >
           <div style="display: flex; justify-content: space-between">
             <div style="padding: 5px; color: #3C56B8"> {{n.title}} </div>
             <div></div>
           </div>

            <div style=" padding: 10px">{{n.body}} </div>
          </div>
        </mat-menu>
      </div>
    </mat-toolbar>
   <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
