<app-toolbar>
</app-toolbar>

<!--&lt;!&ndash;    <button mat-icon-button [matMenuTriggerFor]="notif" ><mat-icon [matBadge]="notifNumber" matBadgeColor="accent" matBadgePosition="above before" matBadgeSize="medium">notifications</mat-icon></button>&ndash;&gt;-->
<!--&lt;!&ndash;    <button matTooltip="click to drop down " mat-button [matMenuTriggerFor]="menu"> <mat-icon style="font-size: 20px">person</mat-icon> <span>{{username}}</span> <mat-icon>arrow_drop_down</mat-icon></button>&ndash;&gt;-->
<!--&lt;!&ndash;    <mat-menu #menu="matMenu">&ndash;&gt;-->
<!--&lt;!&ndash;      <button mat-menu-item (click)="logout()">Logout</button>&ndash;&gt;-->
<!--&lt;!&ndash;    </mat-menu>&ndash;&gt;-->
<!--&lt;!&ndash;    <mat-menu #notif="matMenu">&ndash;&gt;-->
<!--&lt;!&ndash;      <div   *ngFor="let n of notifications.reverse()" [routerLink]="n.link"  style="display: flex; flex-direction: column; border-bottom: black 1px solid" >&ndash;&gt;-->
<!--&lt;!&ndash;        <div style="display: flex; justify-content: space-between">&ndash;&gt;-->
<!--&lt;!&ndash;          <div style="padding: 5px; color: #3C56B8"> {{n.title}} </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div></div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->

<!--&lt;!&ndash;        <div style=" padding: 10px">{{n.body}} </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </mat-menu>&ndash;&gt;-->
<!--  </div>-->
<!--</mat-toolbar>-->
<!--<div class="row container-fluid" style="margin-top: 200px">-->
<!--  <div class="col-4"></div>-->
<!--  <div style="display: flex; justify-content: space-around " class="col-4">-->
<!--    <mat-card style="height: 150px; width: 150px; justify-content: space-around; display: flex; flex-direction: column">-->
<!--      <div style="display: flex; justify-content: space-between; ">-->
<!--        <div></div>-->
<!--        <mat-icon style="font-size: 60px" color="primary">work</mat-icon>-->
<!--        <div></div>-->
<!--      </div>-->
<!--      <div style="display: flex; justify-content: center; width: 100%">-->
<!--      <span >projects</span>-->
<!--      </div>-->
<!--    </mat-card>-->
<!--    <mat-card style="height: 150px; width: 150px">-->
<!--      <mat-icon style="font-size: 50px" color="primary">person</mat-icon>-->
<!--      <span>Human Ressources</span>-->
<!--    </mat-card>-->

<!--  </div>-->
<!--  <div class="col-4"></div>-->

<!--</div>-->
<router-outlet></router-outlet>
