<h1 mat-dialog-title>Add project</h1>
<div mat-dialog-content>
  <mat-form-field style="width: 100%">
    <mat-label>name</mat-label>
    <input matInput cdkFocusInitial [(ngModel)]="project.name">
  </mat-form-field>
  <mat-form-field style="width: 100%">
    <mat-label>description</mat-label>
    <input matInput style="width: 100%" [(ngModel)]="project.description">
  </mat-form-field>
</div>
<div mat-dialog-actions align="end">
  <button mat-button >No Thanks</button>
  <button mat-flat-button   (click)="modify(project.id)">Ok</button>
</div>
