<h3 style="color: #3C56B8; margin-top: 15px"><span>{{projectName}}</span> <button mat-fab (click)="openDialog()"> <mat-icon>add</mat-icon></button></h3>
<hr>
<div class="ScrumBoardContainer">
  <div class="row ScrumBoardRow" cdkDropListGroup>
    <div class="col ScrumBoardCol">

      <mat-card class="mat-card-container">
        <mat-card-header>
          <mat-card-title>Things To Do</mat-card-title>
        </mat-card-header>
        <mat-card-content class="mat-card-tasks"  cdkDropList
                          [cdkDropListData]="todo"
                          id="todo"
                          (cdkDropListDropped)="drop($event)"
        >

          <mat-card *ngFor="let item of todo" cdkDrag>
            <mat-card-title>{{item.label}}</mat-card-title>
            <mat-card-content>{{item.description}}</mat-card-content>
          </mat-card>


        </mat-card-content>
      </mat-card>

    </div>

    <div class="col ScrumBoardCol">
      <mat-card class="mat-card-container">
        <mat-card-header>
          <mat-card-title>Doing</mat-card-title>
        </mat-card-header>
        <mat-card-content class="mat-card-tasks"  cdkDropList
                          [cdkDropListData]="inprogress"
                          id="inprogress"
                          (cdkDropListDropped)="drop($event)"
        >

          <mat-card *ngFor="let item of inprogress" cdkDrag>
            <mat-card-title>{{item.label}}</mat-card-title>
            <mat-card-content>{{item.description}}</mat-card-content>
          </mat-card>

        </mat-card-content>
      </mat-card>
    </div>

    <div class="col ScrumBoardCol">
      <mat-card class="mat-card-container">
        <mat-card-header>
          <mat-card-title>Testing</mat-card-title>
        </mat-card-header>
        <mat-card-content class="mat-card-tasks"  cdkDropList
                          [cdkDropListData]="toverify"
                          id="toverify"
                          (cdkDropListDropped)="drop($event)"
        >

          <mat-card *ngFor="let item of toverify" cdkDrag>
            <mat-card-title>{{item.label}}</mat-card-title>
            <mat-card-content>{{item.description}}</mat-card-content>
          </mat-card>

        </mat-card-content>
      </mat-card>
    </div>

    <div class="col ScrumBoardCol">
      <mat-card class="mat-card-container">
        <mat-card-header>
          <mat-card-title>Done</mat-card-title>
        </mat-card-header>
        <mat-card-content class="mat-card-tasks"  cdkDropList
                          [cdkDropListData]="done"
                          id="done"
                          (cdkDropListDropped)="drop($event)"
        >

          <mat-card *ngFor="let item of done" cdkDrag>
            <mat-card-title>{{item.label}}</mat-card-title>
            <mat-card-content>{{item.description}}</mat-card-content>
          </mat-card>

        </mat-card-content>
      </mat-card>
    </div>

    <div class="col ScrumBoardCol">
      <mat-card class="mat-card-container">
        <mat-card-header>
          <mat-card-title>Problems</mat-card-title>
        </mat-card-header>
        <mat-card-content class="mat-card-tasks"  cdkDropList
                          [cdkDropListData]="problems"
                          id="problems"
                          (cdkDropListDropped)="drop($event)"
        >

          <mat-card *ngFor="let item of problems" cdkDrag>
            <mat-card-title>{{item.label}}</mat-card-title>
            <mat-card-content>{{item.description}}</mat-card-content>
          </mat-card>

        </mat-card-content>
      </mat-card>
    </div>

    <div class="col ScrumBoardCol">
      <mat-card class="mat-card-container">
        <mat-card-header>
          <mat-card-title>Actions</mat-card-title>
        </mat-card-header>
        <mat-card-content class="mat-card-tasks"  cdkDropList
                          [cdkDropListData]="actions"
                          id="actions"
                          (cdkDropListDropped)="drop($event)"
        >

          <mat-card *ngFor="let item of actions" cdkDrag>
            <mat-card-title>{{item.label}}</mat-card-title>
            <mat-card-content>{{item.description}}</mat-card-content>
          </mat-card>

        </mat-card-content>
      </mat-card>
    </div>

  </div>
</div>



<!--<mat-card style="margin:50px; min-height: 70%">-->
<!--  <mat-card-header>-->
<!--    <mat-card-title>{{projectName}}</mat-card-title>-->
<!--  </mat-card-header>-->
<!--  <div cdkDropListGroup class="container-fluid">-->
<!--    <div class="example-container col-2">-->
<!--      <h2>To Do</h2>-->

<!--      <div-->
<!--        cdkDropList-->
<!--        [cdkDropListData]="todo"-->
<!--        class="example-list"-->
<!--        id="todo"-->

<!--        (cdkDropListDropped)="drop($event)">-->
<!--        <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item.label}}</div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="example-container col-2">-->
<!--      <h2>In Progress</h2>-->

<!--      <div-->
<!--        cdkDropList-->
<!--        id="inprogress"-->

<!--        [cdkDropListData]="inprogress"-->
<!--        class="example-list"-->
<!--        (cdkDropListDropped)="drop($event)">-->
<!--        <div class="example-box" *ngFor="let item of inprogress" cdkDrag>{{item.label}}</div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="example-container col-2" >-->
<!--      <h2>To Verify</h2>-->

<!--      <div-->
<!--        cdkDropList-->
<!--        [cdkDropListData]="toverify"-->
<!--        id="toverify"-->

<!--        class="example-list"-->
<!--        (cdkDropListDropped)="drop($event)">-->
<!--        <div class="example-box" *ngFor="let item of toverify" cdkDrag>{{item.label}}</div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="example-container col-2" >-->
<!--      <h2>Done</h2>-->

<!--      <div-->
<!--        cdkDropList-->
<!--        [cdkDropListData]="done"-->
<!--        class="example-list"-->
<!--        id="done"-->

<!--        (cdkDropListDropped)="drop($event)">-->
<!--        <div class="example-box" *ngFor="let item of done" cdkDrag>{{item.label}}</div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="example-container col-2">-->
<!--      <h2>Problems</h2>-->

<!--      <div-->
<!--        cdkDropList-->
<!--        [cdkDropListData]="problems"-->
<!--        id="problems"-->
<!--        class="example-list"-->
<!--        (cdkDropListDropped)="drop($event)">-->
<!--        <div class="example-box" *ngFor="let item of problems" cdkDrag>{{item.label}}</div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</mat-card>-->
