<div class="ScrumBoardContainer">
  <div class="row ScrumBoardRow">
    <div class="col ScrumBoardCol">

     <mat-card class="mat-card-container">
       <mat-card-header>
         <mat-card-title>Things To Do</mat-card-title>
       </mat-card-header>
       <mat-card-content class="mat-card-tasks">

         <mat-card>
           <mat-card-title>User story 1</mat-card-title>
           <mat-card-content>Hello My Name is Degla</mat-card-content>
         </mat-card>

         <mat-card>
           <mat-card-title>User story 2</mat-card-title>
           <mat-card-content>Hello My Name is Degla</mat-card-content>
         </mat-card>

         <mat-card>
           <mat-card-title>User story 3</mat-card-title>
           <mat-card-content>Hello My Name is Degla</mat-card-content>
         </mat-card>

         <mat-card>
           <mat-card-title>User story 4</mat-card-title>
           <mat-card-content>Hello My Name is Degla</mat-card-content>
         </mat-card>

         <mat-card>
           <mat-card-title>User story 5</mat-card-title>
           <mat-card-content>Hello My Name is Degla</mat-card-content>
         </mat-card>

         <mat-card>
           <mat-card-title>User story 6</mat-card-title>
           <mat-card-content>Hello My Name is Degla</mat-card-content>
         </mat-card>

       </mat-card-content>
     </mat-card>

    </div>

   <div class="col ScrumBoardCol">
     <mat-card class="mat-card-container">
       <mat-card-header>
         <mat-card-title>Doing</mat-card-title>
       </mat-card-header>
       <mat-card-content class="mat-card-tasks">
         <mat-card>
           <mat-card-title>User story 1</mat-card-title>
           <mat-card-content>Hello My Name is Degla</mat-card-content>
         </mat-card>

         <mat-card>
           <mat-card-title>User story 2</mat-card-title>
           <mat-card-content>Hello My Name is Degla</mat-card-content>
         </mat-card>

         <mat-card>
           <mat-card-title>User story 3</mat-card-title>
           <mat-card-content>Hello My Name is Degla</mat-card-content>
         </mat-card>

         <mat-card>
           <mat-card-title>User story 4</mat-card-title>
           <mat-card-content>Hello My Name is Degla</mat-card-content>
         </mat-card>

       </mat-card-content>
     </mat-card>
   </div>

    <div class="col ScrumBoardCol">
      <mat-card class="mat-card-container">
        <mat-card-header>
          <mat-card-title>Doing</mat-card-title>
        </mat-card-header>
        <mat-card-content class="mat-card-tasks">
          <mat-card>
            <mat-card-title>User story 1</mat-card-title>
            <mat-card-content>Hello My Name is Degla</mat-card-content>
          </mat-card>

          <mat-card>
            <mat-card-title>User story 2</mat-card-title>
            <mat-card-content>Hello My Name is Degla</mat-card-content>
          </mat-card>

          <mat-card>
            <mat-card-title>User story 3</mat-card-title>
            <mat-card-content>Hello My Name is Degla</mat-card-content>
          </mat-card>

        </mat-card-content>
      </mat-card>
    </div>

    <div class="col ScrumBoardCol">
      <mat-card class="mat-card-container">
        <mat-card-header>
          <mat-card-title>Done</mat-card-title>
        </mat-card-header>
        <mat-card-content class="mat-card-tasks">

          <mat-card>
            <mat-card-title>User story 1</mat-card-title>
            <mat-card-content>Hello My Name is Degla</mat-card-content>
          </mat-card>

          <mat-card>
            <mat-card-title>User story 2</mat-card-title>
            <mat-card-content>Hello My Name is Degla</mat-card-content>
          </mat-card>

          <mat-card>
            <mat-card-title>User story 3</mat-card-title>
            <mat-card-content>Hello My Name is Degla</mat-card-content>
          </mat-card>

          <mat-card>
            <mat-card-title>User story 4</mat-card-title>
            <mat-card-content>Hello My Name is Degla</mat-card-content>
          </mat-card>

          <mat-card>
            <mat-card-title>User story 5</mat-card-title>
            <mat-card-content>Hello My Name is Degla</mat-card-content>
          </mat-card>

          <mat-card>
            <mat-card-title>User story 6</mat-card-title>
            <mat-card-content>Hello My Name is Degla</mat-card-content>
          </mat-card>

        </mat-card-content>
      </mat-card>
    </div>

    <div class="col ScrumBoardCol">
      <mat-card class="mat-card-container">
        <mat-card-header>
          <mat-card-title>Problems</mat-card-title>
        </mat-card-header>
        <mat-card-content class="mat-card-tasks">

        <mat-card>
            <mat-card-title>User story 1</mat-card-title>
            <mat-card-content>Hello My Name is Degla</mat-card-content>
          </mat-card>

          <mat-card>
            <mat-card-title>User story 2</mat-card-title>
            <mat-card-content>Hello My Name is Degla</mat-card-content>
          </mat-card>

        </mat-card-content>
      </mat-card>
    </div>

    <div class="col ScrumBoardCol">
      <mat-card class="mat-card-container">
        <mat-card-header>
          <mat-card-title>Actions</mat-card-title>
        </mat-card-header>
        <mat-card-content class="mat-card-tasks">

          <mat-card>
            <mat-card-title>User story 1</mat-card-title>
            <mat-card-content>Hello My Name is Degla</mat-card-content>
          </mat-card>

        </mat-card-content>
      </mat-card>
    </div>

  </div>
</div>
