.ScrumBoardContainer
{
  padding-top: 10px;
  padding-left: 10px;
}

.mat-card-container
{
  background: rgba(0,0,0,.06);
  padding: 12px 8px 9px 8px;
}

.mat-card-container mat-card-title
{
  font-size: 1.1rem;
}

mat-card mat-card mat-card-title
{
  font-size: 0.8rem;
}

.mat-card-tasks mat-card
{
  margin-top: 6px;
}


