<h1 mat-dialog-title>Add project</h1>
<div mat-dialog-content>
<form [formGroup]="addForm">
  <mat-form-field style="width: 100%" >
    <mat-label>name</mat-label>
    <input matInput formControlName="name" required minlength="3">

    <div *ngIf="name.invalid && (name.dirty || name.touched)"
         class="alert alert-danger">

      <div *ngIf="name.errors.required">
        Name is required.
      </div>
      <div *ngIf="name.errors.minlength">
        Name must be at least 3 characters long.
      </div>

    </div>
  </mat-form-field>
  <mat-form-field style="width: 100%">
    <mat-label>description</mat-label>
    <input matInput style="width: 100%" formControlName="description" required minlength="3">

    <div *ngIf="description.invalid && (description.dirty || description.touched)"
         class="alert alert-danger">

      <div *ngIf="description.errors.required">
        description is required.
      </div>
      <div *ngIf="description.errors.minlength">
        description must be at least 3 characters long.
      </div>

    </div>
  </mat-form-field>
</form>
</div>
<div mat-dialog-actions align="end">
  <!--<button mat-button >No Thanks</button>-->
  <button mat-flat-button (click)="add()">Ok</button>
</div>
