<div class="container-fluid row " style="width: 100%; margin-top: 150px;  display: flex; justify-content: space-around; min-height: 150px" >
  <div class="col-4" style="display: flex; justify-content: space-between;  flex-wrap: wrap">


    <mat-card style="width: 220px;  " routerLink="projects" >
      <!--<img src="../../../assets/images/graphic-progression.png" class="combined-shape" alt="">-->
      <div style="display: flex; justify-content: space-around; width: 70%; height: 80px">
        <mat-icon style=" font-size: 80px; ">web</mat-icon>
      </div>
      <mat-card-content>
        <div style=" font-size: 18px ; text-align: center; width: 100%">
          Project management
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card style="width: 220px;  " routerLink="/dashboard/users">
      <!--<img src="../../../assets/images/graphic-progression.png" class="combined-shape" alt="">-->
      <div style="display: flex; justify-content: space-around; width: 70%; height: 80px">
        <mat-icon style=" font-size: 80px; ">group</mat-icon>
      </div>
      <mat-card-content>
        <div style=" font-size: 18px ; text-align: center; width: 100%">
          Human resources
        </div>
      </mat-card-content>
    </mat-card>




  </div>

</div>
