<div class="container" style="padding-top: 20px;">
  <h2 style="color: #358BCC">Profile Information</h2>
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Password
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="form-row">
              <div class="form-group col-md-12">
                <input type="text" class="form-control" placeholder="Old Password" [(ngModel)]="userPass.oldPassword" >
              </div>
              <div class="form-group col-md-6">
                <input type="text" class="form-control" placeholder="New Password" [(ngModel)]="newPass">
              </div>
              <div class="form-group col-md-6">
                <input type="text" class="form-control" placeholder="Confirm Password" [(ngModel)]="userPass.newPassword">
              </div>
              <ng-container *ngIf="changed == false || newPass != userPass.newPassword">
                <mat-error>
                  <div *ngIf="changed == false">
                     * Verify Old Password
                  </div>
                  <div *ngIf="newPass != userPass.newPassword">
                    * The Password Confirmation must match your new Password
                  </div>
                </mat-error>
              </ng-container>
            </div>
            <button mat-raised-button color="accent" style="float: right" (click)="changePassword()">Modify</button>
          </mat-expansion-panel>
        </div>
        <div class="w-100" style="padding-top: 25px;"></div>
        <div class="col">
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Social Media
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="form-row">
              <label class="col-sm-2 col-form-label col-form-label">Linkedin</label>
              <div class="form-group col-md-10">
                <input type="text" class="form-control form-control-sm" [(ngModel)]="user.linkedin">
              </div>
              <label class="col-sm-2 col-form-label col-form-label">Facebook</label>
              <div class="form-group col-md-10">
                <input type="text" class="form-control form-control-sm" [(ngModel)]="user.facebook">
              </div>
              <label class="col-sm-2 col-form-label col-form-label">Instagram</label>
              <div class="form-group col-md-10">
                <input type="text" class="form-control form-control-sm" [(ngModel)]="user.instagram">
              </div>
            </div>
          </mat-expansion-panel>
        </div>
      </div>

    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Personal Data
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="form-row">
              <label class="col-sm-2 col-form-label col-form-label">Username</label>
              <div class="form-group col-md-10">
                <input type="text" class="form-control form-control-sm" placeholder="Username" readonly [(ngModel)]="user.username">
              </div>
              <label class="col-sm-2 col-form-label col-form-label">Id Number</label>
              <div class="form-group col-md-10">
                <input type="text" class="form-control form-control-sm" [(ngModel)]="user.cin">
              </div>
              <label class="col-sm-2 col-form-label col-form-label">First Name</label>
              <div class="form-group col-md-10">
                <input type="text" class="form-control form-control-sm" [(ngModel)]="user.firstName">
              </div>
              <label class="col-sm-2 col-form-label col-form-label">Last Name</label>
              <div class="form-group col-md-10">
                <input type="text" class="form-control form-control-sm" [(ngModel)]="user.lastName">
              </div>
              <label class="col-sm-2 col-form-label col-form-label">Birth date</label>
              <div class="form-group col-md-10">
                <input type="text" class="form-control form-control-sm" [(ngModel)]="user.birthdate">
              </div>
              <label class="col-sm-2 col-form-label col-form-label">Address</label>
              <div class="form-group col-md-10">
                <input type="text" class="form-control form-control-sm" [(ngModel)]="user.address">
              </div>
            </div>
          </mat-expansion-panel>
        </div>
      <div class="w-100" style="padding-top: 25px;"></div>
      <div class="col-12">
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Bank Information
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="form-row">
            <label class="col-sm-2 col-form-label col-form-label">RIB</label>
            <div class="form-group col-md-10">
              <input type="text" class="form-control form-control-sm" [(ngModel)]="user.rib">
            </div>
          </div>
        </mat-expansion-panel>
      </div>
    </div>
  </div>
  </div>
  <div style="padding-top: 25px">
    <button mat-raised-button color="accent" style="float: right">Reset</button>
    <button mat-raised-button color="primary" style="float: right; margin-right: 7px" (click)="modify()">Save</button>
  </div>

</div>
